*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Righteous', cursive;
}
header{
	background: url('../imagen/bg1.jpg');
	background-size: cover;
	background-position: center;
}

nav{
	padding: 30px;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0), 0 1px 5px 0 rgba(0,0,0,0), 0 3px 1px -2px rgba(0,0,0,0);
	ul{
		
		margin-left: 25%;
		li{
			a{
				margin: 0 30px;
				font-size: 1.4em
			}
		}
	}
}
.section_one{
	margin-top: 150px;
	color: white;
	button{
		@include boton;
		margin: 20px;
		margin-bottom: 200px;
	}

}
.section_two, .section_three{
	background: url('../imagen/hand.png');
	background-size: 50%;
	background-position: 70% 0;
	background-repeat: no-repeat;
	.content_section-two, .content_section-three{
		padding: 80px;
		color: #01DFA5;
		h5{
			font-size: 1.4em;
			margin-bottom: 30px;
		}
		p{
			color:#848484;
			font-size: .8em;
			line-height: 20px;
		}
		button{
			@include boton;
			margin: 20px 0;
			width: 200px;
		}
	}
}
.section_three{
	background: url('../imagen/phone.png');
	background-position: left top;
	background-repeat: no-repeat;
}


