*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Righteous', cursive;
}
header{
	background: url('../imagen/bg1.jpg');
	background-size: cover;
	background-position: center;
}

nav{
	padding: 30px;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0), 0 1px 5px 0 rgba(0,0,0,0), 0 3px 1px -2px rgba(0,0,0,0);
	ul{
		
		margin-left: 25%;
		li{
			a{
				margin: 0 30px;
				font-size: 1.4em
			}
		}
	}
}
.section_one{
	margin-top: 150px;
	color: white;
	button{
		@include boton;
		margin: 20px;
		margin-bottom: 200px;
	}

}
.section_two, .section_three{
	background: url('../imagen/hand.png');
	background-size: 50%;
	background-position: 70% 0;
	background-repeat: no-repeat;
	.content_section-two, .content_section-three{
		padding: 80px;
		color: #01DFA5;
		h5{
			font-size: 1.4em;
			margin-bottom: 30px;
		}
		p{
			color:#848484;
			font-size: .8em;
			line-height: 20px;
		}
		button{
			@include boton;
			margin: 20px 0;
			width: 200px;
		}
	}
}
.section_three{
	background: url('../imagen/phone.png');
	background-position: left top;
	background-repeat: no-repeat;
}
.section_four{
	background: #E6E6E6;
	padding: 80px 0;
	.content_section-four{
		padding: 20px;

		h6{
			margin-top: 40px;
		}
		p{
			padding: 30px 80px;
			font-size: .7em;
			color: 	#A4A4A4;
		}
	}
}

.section_five{
	background: url('../imagen/bg2.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	padding: 20%;
	color: white;
	.content_section-five{
		.form{
			display:flex;
			padding: 30px 180px;
			input[type=text]:not(.browser-default){
				background-color: white;
				padding: 0 10px;
			}
			i{
				background-color: #01DFA5;
				width: 70px;
				height: 45px;
				padding-top: 5px;
			}
		}
	}
}
.section_six{
	padding: 50px;
	background-color: #E6E6E6;
	p{
		padding: 0 120px 50px 120px;
	}
	button{
		@include boton;
		width: 200px;
		font-size: 1.5em;
	}
}
footer{
	background-color: white;
	padding: 20px 50px;
	.links-footer{
		margin: 10px 0;
		ul{
			li{
				display: inline-block;
				border-right: 2px solid #01DFA5;
				padding: 0 10px 0 0;
			}
		}
	}
}

